################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TESUnity/v15
/Library
/obj/Debug
/Temp
/Builds
/.vs/TESUnity/DesignTimeBuild
*.csproj
*.sln
/.vs
/Logs
