[submodule "unmath"]
	path = Packages/com.arycama.unmath
	url = https://github.com/arycama/unmath.git
[submodule "UnRenderGraph"]
	path = Packages/UnRenderGraph
	url = https://github.com/arycama/UnRenderGraph.git
[submodule "Packages/com.arycama.customrenderpipeline"]
	path = Packages/com.arycama.customrenderpipeline
	url = https://github.com/arycama/customrenderpipeline.git
[submodule "Packages/UnRenderGraph"]
	path = Packages/UnRenderGraph
	url = https://github.com/arycama/unrendergraph.git
