################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/obj
/Temp
/Builds
*.csproj
*.sln
/Logs
/UserSettings
*.vsconfig
/Assembly-CSharp.csproj.user
